.home-div {
  padding: 4em 9em;
  max-width: 2000px;
  color: #fff;
  h1 {
    font-size: 7em;
  }
  p {
    font-size: 1.4em;
  }
  .socials {
    display: flex;
  }
  hr {
    border-top: 3px solid rgb(205, 205, 205);
  }
}
